//body
$font-size: 16px;
$body-background-color: #c3cfe2;

//card-button
$btn-background-color: #686de0;
$btn-text-color: #fff;
$btn-padding: 20px;

//overlay
$overlay-color: #3f4049;

//social-media-buttons
$media-font-size: 20px;