h1 {
    color: brown;
}
p { 
    align-content: center;
    color: rgb(37, 60, 90);
}
.aligncenter {
    text-align: center;
}

.background-color {
    background-color: lightgrey;
}

@media (min-width: 1024px) {
body {
    background-color: rgb(128, 82, 82);
}
p {
    color: red;
    font-size: x-small;
    font-stretch: extra-expanded;
}
}
